# Built artifacts
*.apk
*.ap_
*.dex
*.class
/bin
/gen
/out
/build

# Gradle files
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.externalNativeBuild
.cxx

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# MacOS files
.DS_Store

# Log files
*.log

# Captures
/captures
